@layer components {
    .modal-outside-background {
        @apply p-4;
        z-index: 1;
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur(2px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal-inside-background {
        @apply p-4 border-2 rounded border-fake-black bg-broken-white max-w-screen-md w-full items-center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        min-width: 30rem;
        min-height: 14rem;
        max-height: 70%;
        z-index: 2;
        display: block;
        overflow: scroll;
    }

    .modal-header-section {
        @apply mb-5 mt-2 flex w-full;
        justify-content: space-between; 
        align-items: right;
    }

    .modal-close-button {
        @apply py-1 px-3 bg-secondary-color rounded border-fake-black border-2;
        transition: 0.3s ease-in-out;
    }

    .modal-close-button:hover {
        opacity: 0.8;
        box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.2);
    }

    .modal-title {
        @apply text-3xl;
    }


    @media (max-width: 992px) {
        .modal-inside-background {
            @apply min-w-full max-w-screen-sm;

        }

        .modal-title {
            @apply text-xl;
        }
    }
}