@layer components {
    .favorite-item-card {
        @apply p-4 mb-2 w-full max-h-24 items-center border-2 rounded border-fake-black bg-white flex flex-wrap align-middle;
        justify-content: space-between;
        transition: 0.3s ease-in-out;
    }

    .favorite-item-card:hover {
        opacity: 0.9;
        box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.5);
    }

    .favorite-item-image {
        @apply h-16 rounded;
    }

    .favorite-item-title {
        @apply text-lg ml-2 mr-auto flex-wrap;
        font-weight: 500;
    }

    .favorite-item-unfavorite {
        @apply ml-2 text-right text-2xl;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }

    .favorite-item-unfavorite:hover {
        opacity: 0.9;
    }

    @media (max-width: 992px) {
        .favorite-item-title {
            @apply text-sm;
            max-width: 60%;
        }
    }

}