@import './page.css';
@import '../header/Header.css';
@import '../search/Search.css';
@import '../itemList/ItemList.css';
@import '../item/Item.css';
@import '../favoriteItem/FavoriteItem.css';
@import '../modal/Modal.css';
@import '../pagination/Paginate.css';
@import '../emptyList/EmptyList.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";