@layer components {
    .header {
        @apply max-w-screen-lg mb-7 mt-12 flex w-full;
        justify-content: space-between;
        align-items: right;
    }

    .header-title {
        @apply text-4xl;
    }

    .header-fav-button {
        @apply py-1 px-3 bg-primary-color rounded border-fake-black border-2;
        transition: 0.3s ease-in-out;
    }

    .header-fav-button:hover {
        opacity: 0.8;
        box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.2);
    }

    .lg-view {
        display: inline-block;
    }

    .sm-view {
        display: none;
    }

    @media (max-width: 992px) {
        .header-title {
            @apply text-xl;
        }
        .lg-view {
            display: none;
        }

        .sm-view {
            display: inline-block;
        }
    }
}